#!/bin/sh

GIT_DIR=/home/resq/webapps/grit/repos/inverse.git

WORK_TREE=/home/resq/webapps/inverse


echo "Starting post-receive procedure..."

while read oldrev newrev refname
do

    echo "Checking-out  to $WORK_TREE";
    cd $WORK_TREE && rm *.html *.css *.js *.map
    git --work-tree=$WORK_TREE --git-dir=$GIT_DIR checkout HEAD -- dist/
    cd $WORK_TREE && cp -rp dist/. .
    cd $WORK_TREE && rm -rf dist
done
